body {
  margin: 0;
  font-family:'Segoe UI', 'Roboto', 'Oxygen','Fira Code','Fira Code Medium',"Fira Code Retina",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.App {
  padding: 16px 16px;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: white;
}

